<button onclick="toggleWishlist()" class="wishlist_button">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="icon icon-heart"
    width="24"
    height="22"
    viewBox="0 0 24 22"
    fill="none"
  >
    <path fill-rule="evenodd" clip-rule="evenodd" d="M12 21C12 21 22.5 13.5749 22.5 6.54815C22.5 -0.478625 13.184 -1.01943 12 6.00826C10.816 -1.01943 1.5 -0.478625 1.5 7.08895C1.5 14.6565 12 21 12 21Z" stroke="#0A1119" stroke-width="1.75" stroke-linejoin="round"/>
  </svg>
</button>
